@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 112.5%;
  font-family: sans-serif;
  line-height: 1.4;
}

body {
  margin: 0;
}

input,
button,
textarea {
  font: inherit;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 80px;
}

h2,
h3 {
  margin: auto;
}

.--hidden {
  display: none;
}
